@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
}
nav{
  position: relative;
  top: 40px;
  bottom: 0;
  height: 600px;
  left: -10px;
  background: #fff;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-top: -39px;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
.logout{
  position: absolute;
  bottom: 50px;
}



form {
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin-top: -530px;
  margin-left: 450px;
}

/* label {
  display: block;
  margin-bottom: 8px;
} */

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #6b6767;
  border-radius: 4px;
}

textarea{
  width: 100%;
  padding: 8px;
  margin-bottom: 50px;
  border: 2px solid #565353;
  border-radius: 4px;
  box-sizing: border-box;
  
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: #45a049;
}


/* For screens smaller than 768px */
@media screen and (max-width: 768px) {

  .container{
    width: 250px;
  }

  form {
    width: 600px;
    margin-left: 280px;
    margin-top: -550px;
  }

}
