@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
}
nav{
  position: relative;
  top: 40px;
  bottom: 0;
  height: 600px;
  left: -10px;
  background: #fff;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-top: -39px;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
.logout{
  position: absolute;
  bottom: 50px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: #45a049;
}


.main-top {
  width: 1600px;
  margin-top: -500px;
  margin-bottom: -300px;
  margin-left: 300px;
  text-align: center;
  align-items: center;
}

table {
  width: 1400px;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400, 500, 600, 700;
  margin-bottom: 100px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color:#3d7bec;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #b8c9f0;
}

td button {
  background-color:#dc3545; 
  color: #fff; 
  padding: 8px 16px; 
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
}

/* Styling for the delete button */
.delete {
  background-color: #dc3545; /* Bootstrap danger color */
  color: #fff; /* Text color */
  border: 6px solid #c82333; /* Border color */
  border-radius: 4px; /* Add border-radius for rounded corners */
}

/* Hover effect for the delete button */
.delete:hover {
  background-color: #ff433d; /* Darker red color on hover */
}


@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens here */

  nav {
    width: 250px;
   }

  .main-top {
    width: 1000px;
    margin-top: -500px;
    margin-bottom: -300px;
    margin-left: 260px;
    text-align: center;
    align-items: center;
  }

  table{
    width: 900px;
    font-size: 16px;
  }

  th,td{
    padding: 8px;
  }
}
