/* Apply basic styles to your container */
.container {
  margin-top: 150px;
  margin-bottom: -700px;
  margin-left: auto;
  margin-right: auto; 
  max-width: 1000px; 
  overflow: hidden;
  height: 500px;
  align-items: center;
}

/* Style the heading inside the container */
h1 {
  color: #333;
  font-size: 56px;
  text-align: center; /* Center the heading */
  margin-bottom: 5px; 
  margin-top: 150px;
}

/* Style the login button inside the container */
.login-btn {
  background-color: rgb(20, 48, 128);
  color: #fff;
  padding: 20px 30px; 
  cursor: pointer;
  font-size: 19px;
  border: none;
  border-radius: 10px;
  display: block; 
  margin: 40px auto; 
}

/* Apply styles to the outer image container */
.container_outer_img {
  overflow: hidden;
  opacity: 0.3;
  filter: brightness(0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: full;
}

/* Responsive image styling */
.container_outer_img img{
  width: 100%;
  height: 100%;
  object-fit: full;
}


/* .img-inner {
  float: none; 
  margin: 0 auto 30px; 
  width: 80%; 
} */

/* For screens up to 768px (typical mobile devices) */
@media screen and (max-width: 768px) {

  .container{
    margin-top: 0px;
    margin-bottom: -550px;
    overflow: hidden;
  }

  .container_outer_img {
    overflow: hidden;
    opacity: 0.3;
    filter: brightness(0.8);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: full;
  }

  .container_outer_img img{
    margin-bottom: -500px;
    margin-top: 0px;
    object-fit: full;
    width: 100%;
    height: 100%;
  }
}